@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background: var(--color-primary);
}

.header{
    background: var(--color-header);
    width: 100%;
    height: 8vw;
    box-shadow: 0 0 2px 3px rgb(80, 48, 0);
    position: fixed;
    position: relative;
}

.texto__header{
    display: flex;
    justify-content: space-between;
    
}

.emojis__header__1,
.emojis__header__2{
    margin-top: 1.6vw;
    font-size: 3vw;
}

.titulo__header h1{
    font-size: 2.5vw;
    margin-top: 1vw;
}

.titulo__header h2{
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
}

.barra__lateral{
    background: var(--color-header);
    box-shadow: 0 0 2px 3px rgb(80, 48, 0);
    width: 14vw;
    height: 85vh;
    position: fixed;
    z-index: -1;
    padding: 1.5vw;
}

.seccion__1,
.seccion__2,
.seccion__3{
    display: flex;
}